<div class='container px-5 px-sm-0'>
  <div class='row d-flex flex-column'>
    <h2 class="my-4">Follow Students</h2>
    <% if @students.exists? %>
      <%= render 'public/students/index', students: @students %>
    <% else %>
      <p>フォローしていません</p>
    <% end %>
  </div>
</div>