<div class="container">
  <div class="position-relative">
    <%= image_tag 'university.jpg', class:"d-block mx-auto", style: "opacity: 0.3;" %>
    <div class="position-absolute" style="left: 25%; top: 10%;">
      <h2 class="font-weight-bold">Findをご利用いただきありがとうございます。</h2>
      <h4 class="mt-5 mx-auto font-weight-bold", style="line-height:4rem">
        当サイトは作成者がコロナ渦に大学入学となり、<br>
        友人が作りにくかったことを背景として作成しました。<br>
        自分の履修を登録して自分の大学の掲示板（BBS）で<br>
        一緒に授業を受ける友人をぜひお探しください。
      </h4>
    </div>
  </div>
</div>