<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-md-3">
      <h2 class="mt-3">プロフィール</h2>
      <%= render 'profile', student: @student %>
    </div>
    <div class="col-md-8 offset-md-1">
    </div>
  </div>
</div>
